<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La conducción Temeraria</title>
</head>

<body>
    <h1>Conducir de forma temeraria</h1>
    <p>El Código Penal castiga las formas más peligrosas de conducción. En el artículo 380 nos encontramos con la
        primera de ellas que hace referencia al conductor que “con temeridad manifiesta pusiere en concreto peligro la
        vida o la integridad de las personas” pudiéndose imponer, para estos casos, penas de prisión de seis meses a dos
        años y la privación del derecho a conducir vehículos a motor y ciclomotores por tiempo superior a uno y hasta
        seis años.
    </p>

    <h1>Conducción temeraria administrativa</h1>
    <p>Conducir de forma temeraria puede dividirse en diferentes categorías que pasamos a analizar. Una primera
        situación que puede darse es la conducción temeraria administrativa, que, principalmente, consiste en una
        conducta de conducción negligente pero con un factor añadido que es que exista una acción que haya podido poner
        en riesgo la vida de otras personas. Para que sea una situación de conducción temeraria administrativa, el
        peligro de las personas tiene que ser abstracto, no concreto, ya que en este caso sería delito.</p>
    <p>La administrativa es una infracción muy grave que se sanciona con una multa de 500 euros y supone una retirada de
        6 puntos de la licencia de conducción. Un ejemplo de conducir de forma temeraria y que la sanción fuera de tipo
        administrativa, sería conducir un ferrari a más de 100 kilómetros por hora en una vía urbana por un paso de
        peatones o rebasar varios semáforos en rojo sin prestar atención a la vía.</p>

    <a
        href="https://www.compramostucoche.es/magazine/conducir-de-forma-temeraria/#:~:text=El%20que%20condujere%20un%20veh%C3%ADculo,a%20uno%20y%20hasta%20seis"></a>


</body>

</html>