<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alcohól y sus hechos</title>
</head>

<body>
    <h1>El consumo de alcohol y su salud. </h1>

    <h1>¿Qué es un “trago”?</h1>
    <p>En los Estados Unidos, un trago estándar contiene 0.6 onzas (14.0 gramos o 1.2 cucharadas) de alcohol puro. Por
        lo general, esta cantidad de alcohol puro se encuentra en lo siguiente:
        12 onzas de cerveza (con 5 % de contenido de alcohol).
        8 onzas de licor de malta (con 7 % de contenido de alcohol).
        5 onzas de vino (con 12 % de contenido de alcohol).
        1.5 onzas de licor destilado de 80 grados (con 40 % de contenido de alcohol) (p. ej., ginebra, ron, vodka o
        whisky).4</p>
    | </p>

    <h1>¿Qué es beber en exceso?</h1>
    <p>Beber en exceso incluye los atracones de alcohol, beber demasiado y cualquier consumo de alcohol por parte de
        mujeres embarazadas o personas menores de 21 años.

        El atracón de alcohol, la forma más común de consumo de alcohol en exceso, se define como beber lo siguiente:
        En las mujeres, 4 o más tragos en una sola ocasión.
        En los hombres, 5 o más tragos en una sola ocasión.
        Beber demasiado alcohol se define como consumir lo siguiente:
        En las mujeres, 8 o más tragos a la semana.
        En los hombres, 15 o más tragos a la semana.
        La mayoría de las personas que consumen alcohol en exceso no son alcohólicas ni tienen dependencia al alcohol.
    </p>
    </p>

    <h1>Riesgos para la salud a corto plazo</h1>
    <p>El consumo excesivo de alcohol tiene efectos inmediatos que aumentan el riesgo de muchas consecuencias dañinas
        para la salud. Las cuales son en su mayoría el resultado de los atracones de alcohol e incluyen las siguientes:
        Lesiones, como por choques de vehículos automotores, caídas, ahogamientos y quemaduras.6, 7
        Violencia, como homicidios, suicidios, agresión sexual y violencia doméstica con parejas sexuales.6-10
        Intoxicación por alcohol, una emergencia médica que es ocasionada por niveles altos de alcohol en la sangre.11
        Comportamientos sexuales riesgosos, como tener relaciones sexuales sin protección o con múltiples parejas. Estos
        comportamientos pueden ocasionar embarazos no planeados o enfermedades de transmisión sexual, como el VIH.12, 13
        Abortos espontáneos y muerte fetal o trastornos del espectro alcohólico fetal (TEAF) en las mujeres embarazadas
        y los bebés.</p>

    <a
        href="https://www.cdc.gov/alcohol/hojas-informativas/consumo-alcohol-salud.html#:~:text=Con%20el%20tiempo%2C%20el%20consumo,del%20h%C3%ADgado%20y%20problemas%20digestivos.&text=C%C3%A1ncer%20de%20mama%2C%20boca%2C%20garganta,%2C%20es%C3%B3fago%2C%20h%C3%ADgado%20y%20colon."></a>



</body>

</html>